* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;;
}

#container {
    width: 80%;
    margin: 0 auto;
}

/* logo */
header {
    height: 200px;
}

header > img {
    width: 280px;
    height: 112px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
    
}
/* nav */
ul li {
    list-style-type: none;
}

li a {
    font-size: 25px;
    margin-top: 40px;
    display: inline-block;
    color: grey;
    margin-right: 15px;
    text-decoration: none;
}
/* hero */
.position {
    position: relative;
    margin: 20px 0;
}

.box {
    height: 600px;
    border-radius: 20px;
}

.opacity {
    background-color: black;
    height: 300px;
    width: 100%; 
    background-size: cover; 
}

#background {
    border-radius: 20px;
    background-color: black;
}


#hero {
    width: 100%;
    object-fit: cover;
    height: 600px;
    border-radius: 20px;
    opacity: 0.7;
}


#img-text {
    position: absolute;
    left: 100px;
    bottom: 80px;
    width: 40%;
    color: white;
} 

section div span {
    font-size: 40px;
}

.title {
    margin: 50px 0;
}

.title > h1 {
    font-size: 50px;
}

.color {
    color: grey;
}

.text {
    font-size: 20px;
}

/* inizio layout */

.second-box::after {
    content: "";
    display: table;
    clear: both;
}

.pillar {
    float: left;
    margin-right: 3%;
}

.border {
    border-radius: 10px;
}

.sx {
    width: 22%;
}

.layout-img {
    object-fit: cover;
    width: 100%;
    opacity: 0.7;
    border-radius: 10px;
    height: 300px;
}

.center {
    width: 50%;
}

#specialbanner {
    width: 100%;
    object-fit: cover;
    height: 300px;
    opacity: 0.7;
    border-radius: 10px;
}

.dx {
    width: 22%;
    margin: 0;
}

.special {
    width: 100%;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

footer > span {
    font-size: 22px;
    color: red;
}